
# Created by https://www.gitignore.io/api/code,dotnetcore
# Edit at https://www.gitignore.io/?templates=code,dotnetcore

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json### DotnetCore ###

### Visual Studioo for Mac ###
.vs/*

# .NET Core build and publish folders
**/bin/
**/obj/
**/publish/

# Common node modules locations
/node_modules
/wwwroot/node_modules


# End of https://www.gitignore.io/api/code,dotnetcore
